{% extends "base.html" %}

{% load i18n %}

{% block content %}

  <div class="container">
    <div class="d-flex align-items-center justify-content-center">
      <h1 class="headline4">Письмо с инструкциями по восстановлению пароля отправлено!</h1>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center">

    <div class="container">
      <p>
      Мы отправили вам инструкцию по установке нового пароля
      на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). 
      Вы должны получить её в ближайшее время.
      </p>
      <p>
        Если вы не получили письмо, пожалуйста,
        убедитесь, что вы ввели адрес, с которым Вы зарегистрировались,
        и проверьте папку со спамом.
      </p>

      <div class="container">
        <div class="d-flex align-items-center justify-content-center">
          <p><a href="{% url 'women:women_homepage' %}">На главную</a></p>
        </div>
      </div>

    </div>

  </div>

{% endblock %}
